  lightGray = #eee
  red = #be2525

  border-radius(radius = 10px)
    -webkit-border-radius radius
    border-radius radius

  clear-fix()
    zoom 1
    &:after
    &:before
      content ""
      display table
    &:after
      clear both

  add(a, b, c = a)
    a + b + c

  marginer(a, b)
    return a a*2 a*b b